<h2>Service Details</h2>
<div id="ServiceDetailsLoadingWheel"></div>
<div id="ServiceDetailsContainer"></div>

<div class="template">
    <div id="ServiceDetailsTemplate">
        <table class="layout-table">
            <tbody>
                <tr>
                    <th>Id:</th>
                    <td>__Id__</td>
                </tr>
                <tr>
                    <th>Service Needed:</th>
                    <td>__ServiceNeeded__</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>__ServiceDescription__</td>
                </tr>
                <tr>
                    <th>Delivery Date:</th>
                    <td>__DeliveryDate__</td>
                </tr>
                <tr>
                    <th>Delivery Time:</th>
                    <td>__DeliveryTime__</td>
                </tr>
                <tr>
                    <th>Delivery Location:</th>
                    <td>__DeliveryLocation__</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>__ServiceStatus__</td>
                </tr>
                <tr>
                    <th>Rating:</th>
                    <td>__Rating__</td>
                </tr>
                <tr>
                    <th>User Language:</th>
                    <td>__UserPreferredLanguage__</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>